<template>
  <div class="sidenav-item">
    <img :src="imgSource" alt="" />
    <span class="item-text">
      {{ item.name }}
    </span>
    <template v-if="item.data">
      <div class="sidenav-badge">
        <span class="sidenav-pill">{{ item.data }}</span>
      </div>
    </template>
  </div>
</template>
<script lang="ts">
import { defineComponent, PropType, ref, computed, reactive } from "vue";

interface SidenameItem {
  icon: string;
  name: string;
  data?: number;
}

export default defineComponent({
  props: {
    item: {
      type: Object as PropType<SidenameItem>,
      required: true
    }
  },
  setup(props) {
    const img = ref(props.item.icon);

    const imgSource = computed(() => {
      return require(`@/assets/img/icons/${img.value}.svg`);
    });

    return { imgSource };
  }
});
</script>
