<template>
  <div>
    <div class="sidenav-header">
      <router-link to="/" style="display: block">
        <img src="@/assets/img/casual_logo_text_lg.svg" alt="" />
      </router-link>
    </div>
    <div class="sidenav-link-items">
      <LinkItem v-for="(item, idx) in linkitems" :key="idx" :item="item" />
    </div>
  </div>
</template>
<script lang="ts">
type information = {
  servers: number;
  services: number;
};

import { defineComponent, reactive, ref, computed } from "vue";
import LinkItem from "./LinkItem.vue";
import { useStore } from "@/store";
export default defineComponent({
  components: {
    LinkItem
  },
  setup() {
    const store = useStore();
    store.dispatch("information");

    const linkitems = reactive([
      {
        icon: "servers",
        name: "Servers",
        data: computed(() => store.getters.information.servers)
      },
      {
        icon: "groups",
        name: "Groups",
        data: computed(() => store.getters.information.groups)
      },
      {
        icon: "executables",
        name: "Executables",
        data: computed(() => store.getters.information.executables)
      },
      {
        icon: "services",
        name: "Services",
        data: computed(() => store.getters.information.services)
      },
      {
        icon: "queues",
        name: "Queues",
        data: computed(() => store.getters.information.queues)
      }
    ]);

    return { linkitems };
  }
});
</script>
