<template>
  <div>
    <div class="casual-info">
      <div><b>{{ domainName }}</b></div>
      <div>{{ version }}</div>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, computed } from "vue";
import { useStore } from "@/store";
export default defineComponent({
  name: "topnavigation",
  setup() {
    const store = useStore();

    const version = computed(() => store.getters.information.version);
    const domainName = computed(() => store.getters.information.domainName);

    return { version, domainName };
  },
});
</script>
