<template>
  <div class="content-row">
    <div class="content-left">
      <sidenavigation id="sidenav" />
    </div>
    <div class="content-right">
      <topnavigation id="topnav" />
      <div id="content">
        <router-view />
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import { sidenavigation, topnavigation } from "@/components/nav";
export default defineComponent({
  name: "App",
  components: {
    sidenavigation,
    topnavigation
  }
});
</script>
<style lang="scss">
@import "@/assets/scss/style.scss";

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
