<template>
  <div class="home">
    <h1>hello</h1>
    <p>Servers: {{info.servers}}</p>
    <p>Executables: {{info.executables}}</p>
    <p>Services: {{info.services}}</p>
    <p>Groups: {{info.groups}}</p>
    <p>Queues: {{info.queues}}</p>
  </div>
</template>

<script lang="ts">

import { defineComponent, computed, reactive } from "vue";
import { useStore} from "@/store";
import {DInformation } from "@/models/dashboard";
export default defineComponent({
  name: "Home",
  setup() {
    const store = useStore();
    const info = computed<DInformation>(() => store.getters.information);
    //const {servers, services, groups, executables, queues} = computed<DInformation>(() => store.getters.information);
    //const info = computed(() => store.getters.information);
    
    return { info};
  },
});
</script>
