<template>
  <button class="button" @click="increase">{{ text() }}</button>
</template>
<script lang="ts">
import { defineComponent } from "vue";
export default defineComponent({
  name: "CasualButton",
  data() {
    return {
      count: 0,
      text(): string {
        return `Pressed: ${this.count}`;
      },
    };
  },
  methods: {
    increase(): void {
      this.count += 1;
    },
  },
});
</script>