$color-dark-background-tint-1: #242424;
$color-dark-background-tint-2: #141414;

$color-body-background: #fefefe;
$color-sidenav-outer-border: rgba(255,255,255,0.7);

$color-light-pill: rgba(255,255,255,0.3);

$color-black: #000;
$color-black-tint-2: rgba(0,0,0,0.5);

$color-box-shadow-tint-1: rgba(0,0,0,0.5);