@import "all";

body {
    background-color: $color-body-background;
    font-family: "Source Code Pro";
    padding: 0;
    margin: 0;
}

.content-row {
    display: inline-block;
    width: 100%;
    overflow: hidden;
}
.content-right {
    margin-left: $sidenav-width-wide;
    //width: calc(100% - #{$sidenav-width-wide});
}

#content {
    position: relative;
    //width: calc(100% - #{$sidenav-width-wide});
    // padding-left: #{$sidenav-width-wide};
    // padding-top: #{$topnav-height};
    overflow: hidden;
    margin: 2px 5px;
}
