#sidenav {
    position: fixed;
    width: $sidenav-width-wide;
    height: 100%;
    top:0;
    left: 0;
    background-color: $color-dark-background-tint-2;
    color: white;
    z-index: 100;
    border-right: 1px solid $color-black;
    box-sizing: border-box;

    .sidenav-header {
        
       // border-bottom: 1px solid $color-black-tint-2;
        img {
            box-sizing: border-box;
            width: 100%;
            padding: 25px;
            filter: invert(90%);
        }
    }

    .sidenav-link-items {
        margin-top: 2em;
        .sidenav-item {
            //border-bottom: 1px solid $color-black-tint-2;
            overflow: hidden;
            display: flex;
           // margin: 10px 5px;
            padding: 15px 15px;
            //border-radius: 0.5em;
            font-size: 9pt;
            font-weight: 700;
            .router-link-active {
                background-color: $color-body-background;
                
            }
            transition: ease-in 0.05s;
            &:hover {
                cursor: pointer;
                background-color: $color-dark-background-tint-1;
                z-index: 102;
            }
            .item-text {
                display:flex;
                flex-direction: column;
                justify-content: center;
            }
            img {
                display:inline-block;
                height: 15px;
                filter: invert(90%);
                //margin: 0 15px 0 0;
                margin-right: 15px;
            }

            .sidenav-badge {
                margin-left: auto;
                display: flex;
                flex-direction:column;
                justify-content:center;
                font-size: 130%;
                
            }
            .sidenav-pill {
                padding: .6em .25em;
                line-height: 1.2;
                display:inline-block;
                vertical-align: baseline;
                border-radius: 3rem;
                padding: 1px 7px;
                font-size: 75%;
                text-align: center;
                white-space: nowrap;
                background-color: $color-light-pill;
                margin-left: auto;
                font-weight: 700;
                height: auto;
            }
        }
        
    }
}