#topnav {
   // position: fixed;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    overflow: hidden;
    margin: 0;
    //padding: 0 10px;
    //width: calc(#{$topnav-width-thin} - 20px);
    //width: calc(100% - #{$sidenav-width-wide});
    width: 100%;
    height: $topnav-height;
    top: 0;
    //background-color: $color-dark-background-tint-2;
    background-color: $color-body-background;

    box-shadow: 0 0 4px 0 $color-box-shadow-tint-1;
    p {
        margin-left: 10px;
        margin-right: 10px;
    }
    .casual-info {

        margin: auto 10px;
        font-size: 75%;
    }
}
